extends ../shared/_master

block body
    section.section-background
    .container
        h2.page-header 
        |
        section.section-wrapper
            div
                // Nav tabs
                ul.nav.nav-tabs(role='tablist')
                    each city, index in citiesBulgaria
                        - var link = "#" + city.name
                        if index == 0
                            li.active(role='presentation')
                                a(href=link, aria-controls=city.name, role='tab', data-toggle='tab') 
                                    =city.name
                        else
                            li(role='presentation')
                                a(href=link, aria-controls=city.name, role='tab', data-toggle='tab') 
                                    =city.name
                // Tab panes
                .tab-content
                    each city, index in citiesBulgaria
                        if index == 0
                            .tab-pane.active.fade.in(id=city.name, role='tabpannel')
                                .currentCity.jumbotron
                                    h1#cityName
                                        =city.name
                                    hr
                                    ul.list-group
                                        each todo in citiesBulgaria.todo
                        else
                            .tab-pane.fade(id=city.name, role='tabpannel')
                                .currentCity.jumbotron
                                    h1#cityName
                                        =city.name
                                    hr
                                    p
                                        | Make frontend for the gallery and to-do list. Improve styling                       

block body_end_scripts
    script(src='../../static/js/country.js')
